<a href="https://colab.research.google.com/github/FlorentinoManaysay/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Accessing the elements in an Array

animals = ["cat","dog","cow"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0] =",x)
print("Array[1] =",y)

Array[0] = cat
Array[1] = dog

In [ ]:
#modifying the elements in the Array
animals = ["cat","dog","cow"]
animals[0] = "monkey"
x = animals[0]
print("Array[0] = ",x)
print(animals)

Array[0] =  monkey
['monkey', 'dog', 'cow']

In [ ]:
#length of the Array
animals = ["monkey","cat","dog","fish"]
v = len(animals)
print(v)

4

In [ ]:
#looping Array Elements
animals = ["monkey","cat","dog","fish", "cow"]
for x in animals:
  print(x)

monkey
cat
dog
fish
cow

In [ ]:
animals = ["monkey","cat","dog","fish", "cow"]
for index , val in enumerate(animals):
  print(index,val)

0 monkey
1 cat
2 dog
3 fish
4 cow

In [ ]:
#adding elements in the array
animals = ["monkey","cat","dog","fish", "cow"]
animals.append("tiger")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'cow', 'tiger']

In [ ]:
#create a pythin program to insert a new item ('11') before the second element in an existing array,
#original array: numbers = [1,2,3,4,5,6,7,8,9,10,]
numbers = [1,2,3,4,5,6,7,8,9,10,]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#removing elements in an array
animals = ["monkey","cat","dog","fish", "cow"]
animals.pop(1)
print(animals)

['monkey', 'dog', 'fish', 'cow']